APP_NAME=SymptoNexus AI Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=symptonexus

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_TIMEOUT=90
